.sidebar {
    display: inline-flex;
    flex-direction: column;

    background-color: rgb(237, 246, 246);
    justify-content: space-between;
    padding-bottom: 50px;
    overflow: hidden;
    /*top and bottom padding are 10px
    right and left padding are 5px*/
}


.sidebar img {
    width: 20px;
}

.sidebar .menu {
    display: block;
    margin-left: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.sidebar .new-chat {
    margin-top: 60px;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;

    margin-left: 10px;
    gap: 10px;
    border-radius: 50px;
    background-color: rgb(218, 231, 231);

    color: black;
    cursor: pointer;
    font-size: 15px;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #080707;
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    max-height: 50px;
    background-color: hwb(180 92% 2%);
    padding: 10px;
    color: rgb(3, 3, 3);
    border-radius: 50px;
    padding-right: 50px;
    padding-left: 10px;
    cursor: pointer;
}

.sidebar .recent-entry:hover {

    background-color: rgb(171, 184, 181);

}

.sidebar .buttom {
    display: flex;

    flex-direction: column;

}

.sidebar .buttom {
    padding-right: 0.01em;
    cursor: pointer;
}

@media (max-width:600px) {
    .sidebar {
        display: none;
    }
}